@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500;600;700;&display=swap');

.H1 {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.H2 {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.H3 {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.subHead1 {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subHead2 {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.body1 {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.body2 {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.body3 {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.body4 {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.subHeadEng1{
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bodyEngBold1 {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bodyEng2 {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}